@font-face {
    font-family: 'GT';
    src: url('../fonts/GT-Super-Display-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary: #fc4d37;
    --secondary: #131950;
    --pink: #fff1ed;
    --lightgrey: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'ProximaNova', serif;
    line-height: 1.4;
}

body {
    background: var(--lightgrey);
    line-height: 1.4444444444;
    font-size: 18px;
    color: var(--secondary);
    font-family: 'ProximaNova', serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'GT', serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px;
}

.wrapper {
    background: white;
    max-width: 80%;
    margin: 30px auto;
    margin-top: 30px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.sidebar {
    background-color: var(--primary);
    color: var(--pink);
    position: absolute;
    width: 20%;
    height: 100%;
}

.sidebar .profile {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sidebar .profile img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    border-radius: 50%;
}

.sidebar .name {
    margin-top: 20px;
}

.sidebar .section {
    padding: 10px 30px;
}

.sidebar .profile + .section {
    padding-top: 30px;
}

.main {
    margin-left: 20%;
    padding: 30px;
}

.main .section {
    padding: 10px;
}

.main .subsection {
    padding: 5px;
}

.main .subsection .date {
    font-style: italic;
}

@media (max-width: 1040px) {
    .sidebar {
        position: static;
        width: inherit;
    }
    .sidebar .section {
        margin-left: 10px;
    }

    .main {
        width: inherit;
        padding: 30px;
        margin-left: 0;
    }
}

a > i {
    padding-right: 20px;
}
